body{
background_color:grey;
}
.heading{
text-align:center;
width:100px;
height:100px;
}
.head{
text-align:center;
}
.navig{
background-color:red;
}
.gallary{
margin:10px;
padding:10px;
border:2px;
width:50px;
height:50px;
}
.desc{
background-color:red;
font-size:10px;
}
footer{
height:50px;
width:50px;
}

