li{
		float: left;
		color: white;
		font-size: 20px;
		padding: 14px 16px;
		background-color: black;
	}
	nav{
		background-color: black;
		overflow: hidden;
	}
	ul{
		list-style-type: none;
	}
	div.gallery{
		margin: 5px;
	border: 2px solid #333;
		float: left;
		
	}
	div.desc{
		padding: 15px;
		text-align: center;
	}
	*{
		background-color: lightblue;
	}
